<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "RegistrationTests">
    <test name = "PasswordVerificationTests" preserve-order="true">
        <groups>
            <run>
                    <include name = "RegistrationVerificationTests" />
            </run>
        </groups>

        <classes>
                <class name="com.gmail.pusichek007.RegistrationVerificationTests" >
                    <methods>
                    </methods>
                </class>
        </classes>
    </test>
</suite>

